Source: syssentry
Section: admin
Priority: optional
Maintainer: shixuantong <shixuantong1@huawei.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 pkg-config,
 cmake,
 g++,
 python3,
 chrpath,
 clang,
 libbpf-dev,
 bpftool,
 python3-numpy,
 libtraceevent-dev,
 python3-setuptools,
 libjson-c-dev,
Standards-Version: 4.6.2
Homepage: https://atomgit.com/openeuler/sysSentry

Package: syssentry
Section: cli-mono
Architecture: arm64
Multi-Arch: same
Depends:
 libbpf1,
 python3,
 python3-dbus,
 dbus-daemon,
 python3-gi,
 ${misc:Depends},
 ${shlibs:Depends},
Description: system inspection framework
 This package provides framework tools for system inspection.

Package: libxalarm
Section: libs
Architecture: arm64
Multi-Arch: same
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libjson-c5,
Description: xalarm library for the sysSentry
 This package provides xalarm library for the sysSentry.

Package: libxalarm-dev
Section: libdevel
Architecture: arm64
Multi-Arch: same
Depends:
 libjson-c-dev,
 libxalarm,
 ${misc:Depends},
Description: development package for the libxalarm
 This package provides developer tools for the libxalarm.

Package: sentry-msg-monitor
Section: utils
Architecture: arm64
Depends:
 syssentry,
 libxalarm,
 libjson-c5,
 lsof,
 ipmitool,
 obmm,
 ${shlibs:Depends},
 ${misc:Depends},
Description: plugin for sysSentry to listening specific messages
 This package provides a plugin for sysSentry to listening specific messages.
